.CirclesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-left: 2rem;
  align-items: center;
  margin-top: 1rem;
}

.YesCircle {
  color: sandybrown;
  margin-right: 0.25rem;
  font-size: 0.75rem;
}
.NoCircle {
  color: #000;
  margin-right: 0.25rem;
  font-size: 0.75rem;
}
.CurrentCircle {
  color: #000;
  margin-right: 0.25rem;
}

.UndefinedCircle {
  color: #000;
  margin-right: 0.25rem;
  font-size: 0.75rem;
}
